<h1>User#Name placeholder</h1>
<p>Here is the details of a user given its id</p>
<ul class="users">
  <li class="user">
    <div class="user_photo">Photo placeholder</div>
    <div class="user_container">
      <div class="user_name">Name placeholder</div>
      <div class="user_posts_counter">Number of Posts: posts_counter placeholder</div>
    </div>
  </li>
</ul>

<div class="user_bio">
  <h2>Bio</h2>
  <p>Bio placeholder</p>
</div>

<ul class="posts">
  <li class="post">
    <div class="post_container">
      <div class="post_title">Title placeholder</div>
      <div class="post_text">Text placeholder</div>
      <div class="post_comments_counter">Number of Comments: comments_counter placeholder</div>
      <div class="post_likes_counter">Number of Likes: likes_counter placeholder</div>
    </div>
  </li>
</ul>

<button type="button">See all posts</button>
