<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<h1>Posts</h1>
<p>Here is a list of posts of a given user</p>
<ul class="users">
  <li class="user">
    <div class="user_photo">Photo placeholder</div>
    <div class="user_container">
      <div class="user_name">Name placeholder</div>
      <div class="user_posts_counter">Number of Posts: posts_counter placeholder</div>
    </div>
  </li>
</ul>

<ul class="posts">
  <li class="post">
    <div class="post_container">
      <div class="post_title">Title placeholder</div>
      <div class="post_text">Text placeholder</div>
      <div class="post_comments_counter">Number of Comments: comments_counter placeholder</div>
      <div class="post_likes_counter">Number of Likes: likes_counter placeholder</div>
    </div>
    <ul class="post_comments">
      <li class="comment">Username: text placeholder</li>
    </ul>
  </li>
</ul>

<button type="button">Pagination</button>